<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="22" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <queries>
        <package android:name="org.sufficientlysecure.keychain" />
        <package android:name="org.torproject.android" />

        <intent>
            <action android:name="eu.siacs.conversations.location.request" />
        </intent>
        <intent>
            <action android:name="eu.siacs.conversations.location.show" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:mimeType="resource/folder" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
        <intent>
            <action android:name="org.unifiedpush.android.connector.MESSAGE" />
        </intent>
    </queries>

    <application
        android:name="eu.siacs.conversations.WooApp"
        android:allowBackup="false"
        android:appCategory="social"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/ConversationsTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label"
        tools:targetApi="q">
        <activity
            android:name="eu.siacs.conversations.ui.MiningActivity"
            android:exported="false" />

        <activity
            android:name="eu.siacs.conversations.ui.auth.OTPVerificationActivity"
            android:exported="false" />
        <activity
            android:name="eu.siacs.conversations.ui.auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="eu.siacs.conversations.ui.auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name="eu.siacs.conversations.ui.auth.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name="eu.siacs.conversations.ui.WooHomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/ConversationsTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <service android:name=".services.XmppConnectionService" />

        <receiver
            android:name="eu.siacs.conversations.services.EventReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.media.RINGER_MODE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="eu.siacs.conversations.services.UnifiedPushDistributor"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="org.unifiedpush.android.distributor.REGISTER" />
                <action android:name="org.unifiedpush.android.distributor.UNREGISTER" />
                <action android:name="org.unifiedpush.android.distributor.feature.BYTES_MESSAGE" />
                <action android:name="org.unifiedpush.android.distributor.feature.MESSENGER" />
                <action android:name="org.unifiedpush.android.distributor.feature.APP_VALIDATION" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="eu.siacs.conversations.ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ConversationsTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.siacs.conversations.ui.ShareLocationActivity"
            android:label="@string/title_activity_share_location" />
        <activity
            android:name="eu.siacs.conversations.ui.SearchActivity"
            android:label="@string/search_messages" />
        <activity
            android:name="eu.siacs.conversations.ui.RecordingActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ConversationsTheme.Dialog" />
        <activity
            android:name="eu.siacs.conversations.ui.ShowLocationActivity"
            android:label="@string/title_activity_show_location" />
        <activity
            android:name="eu.siacs.conversations.ui.ConversationActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name="eu.siacs.conversations.ui.ConversationsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:minWidth="300dp"
            android:minHeight="300dp"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="eu.siacs.conversations.ui.ScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ConversationsTheme.FullScreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="eu.siacs.conversations.ui.UriHandlerActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="xmpp" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="conversations.im" />
                <data android:pathPrefix="/i/" />
                <data android:pathPrefix="/j/" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="imto" />
                <data android:host="jabber" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="imto" />
                <data android:host="xmpp" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.siacs.conversations.ui.StartConversationActivity"
            android:exported="true"
            android:label="@string/title_activity_start_conversation"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.siacs.conversations.ui.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.siacs.conversations.ui.ChooseContactActivity"
            android:label="@string/title_activity_choose_contact" />
        <activity
            android:name="eu.siacs.conversations.ui.BlocklistActivity"
            android:label="@string/title_activity_block_list" />
        <activity
            android:name="eu.siacs.conversations.ui.ChangePasswordActivity"
            android:label="@string/change_password_on_server" />
        <activity
            android:name="eu.siacs.conversations.ui.ChooseAccountForProfilePictureActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/choose_account">
            <intent-filter android:label="@string/set_profile_picture">
                <action android:name="android.intent.action.ATTACH_DATA" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.siacs.conversations.ui.ShareViaAccountActivity"
            android:label="@string/title_activity_share_via_account"
            android:launchMode="singleTop" />
        <activity
            android:name="eu.siacs.conversations.ui.EditAccountActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="eu.siacs.conversations.ui.ConferenceDetailsActivity"
            android:label="@string/action_muc_details"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="eu.siacs.conversations.ui.ContactDetailsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="eu.siacs.conversations.ui.PublishProfilePictureActivity"
            android:label="@string/mgmt_account_publish_avatar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="eu.siacs.conversations.ui.PublishGroupChatProfilePictureActivity"
            android:label="@string/group_chat_avatar" />
        <activity
            android:name="eu.siacs.conversations.ui.ShareWithActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- the value here needs to be the full class name; independent of the configured applicationId -->
            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value="eu.siacs.conversations.services.ContactChooserTargetService" />
        </activity>
        <activity
            android:name="eu.siacs.conversations.ui.TrustKeysActivity"
            android:label="@string/trust_omemo_fingerprints"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="eu.siacs.conversations.ui.AboutActivity"
            android:parentActivityName=".ui.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.siacs.conversations.ui.SettingsActivity" />
        </activity>
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".ui.MemorizingActivity" />
        <activity
            android:name="eu.siacs.conversations.ui.MediaBrowserActivity"
            android:label="@string/media_browser" />

        <service android:name="eu.siacs.conversations.services.ExportBackupService" />
        <service android:name="eu.siacs.conversations.services.ImportBackupService" />
        <service
            android:name=".services.ContactChooserTargetService"
            android:exported="true"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="eu.siacs.conversations.services.BarcodeProvider"
            android:authorities="${applicationId}.barcodes"
            android:exported="false"
            android:grantUriPermissions="true" />

        <activity
            android:name="eu.siacs.conversations.ui.ShortcutActivity"
            android:exported="true"
            android:label="@string/contact">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.siacs.conversations.ui.MucUsersActivity"
            android:label="@string/group_chat_members" />
        <activity
            android:name="eu.siacs.conversations.ui.ChannelDiscoveryActivity"
            android:label="@string/discover_channels" />
        <activity
            android:name="eu.siacs.conversations.ui.RtpSessionActivity"
            android:autoRemoveFromRecents="true"
            android:launchMode="singleInstance"
            android:supportsPictureInPicture="true" /> <!-- MEETING -->

        <activity
            android:name="com.woooapp.meeting.impl.views.MeetingActivity"
            android:label="Meeting"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:turnScreenOn="true"
            android:exported="true">
            <intent-filter>
                <action android:name="COM.WOOAPP.MEETING.IMPL.VIEWS.MEETINGACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <!--        ALPHA-WALLET-ACTIVITIES STARTS FROM HERE-->

        <activity
            android:name="com.alphawallet.app.ui.WalletHomeActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->


            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="aw.app" />
                <data android:host="www.aw.app" />
                <data android:pathPrefix="/" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="wc" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="awallet" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="text/tsml" />
                <data android:host="*" />
                <data android:pathPattern="/.*\\.tsml" />
                <data android:pathPattern="/.*\\..*\\.tsml" />
                <data android:pathPattern="/.*\\..*\\..*\\.tsml" />
                <data android:pathPattern="/.*\\.xml" />
                <data android:pathPattern="/.*\\..*\\.xml" />
                <data android:pathPattern="/.*\\..*\\..*\\.xml" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.alphawallet.app.ui.ApiV1Activity"
            android:label="API V1 Activity"
            android:theme="@style/ConversationsTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name="com.alphawallet.app.ui.WalletsActivity"
            android:label="@string/title_account_list" />

        <activity
            android:name="com.alphawallet.app.ui.SplashActivity"
            android:theme="@style/ConversationsTheme" />

        <service
            android:name="com.alphawallet.app.service.WalletConnectService"
            android:enabled="true" />

        <service
            android:name="com.alphawallet.app.service.WalletConnectV2Service"
            android:enabled="true" />

        <service
            android:name="com.alphawallet.app.service.AlphaWalletFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="alphawallet" />
        </service>

        <activity
            android:name="com.alphawallet.app.ui.WalletConnectV2Activity"
            android:label="WalletConnectV2"
            android:launchMode="singleTop" />

        <activity
            android:name="com.alphawallet.app.ui.WalletConnectNotificationActivity"
            android:label="WalletConnectV2" />

        <activity
            android:name="com.alphawallet.app.ui.NameThisWalletActivity"
            android:label="@string/name_this_wallet"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.alphawallet.app.ui.ImportWalletActivity"
            android:label="@string/title_import"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />

        <activity
            android:name="com.alphawallet.app.ui.TransactionDetailActivity"
            android:label="@string/title_transaction_details" />
        <activity
            android:name="com.alphawallet.app.ui.MyAddressActivity"
            android:label="@string/title_my_address" />

        <activity
            android:name="com.alphawallet.app.ui.SendActivity"
            android:label="@string/title_activity_send"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.alphawallet.app.ui.AddTokenActivity"
            android:label="@string/title_add_token" />

        <activity
            android:name="com.alphawallet.app.ui.AssetDisplayActivity"
            android:label="@string/title_use_token" />

        <activity
            android:name="com.alphawallet.app.ui.RedeemSignatureDisplayActivity"
            android:label="@string/title_use_token" />

        <activity
            android:name="com.alphawallet.app.ui.GasSettingsActivity"
            android:label="@string/title_send_settings" />

        <activity
            android:name="com.alphawallet.app.ui.SellDetailActivity"
            android:label="@string/action_sell"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.alphawallet.app.ui.RedeemAssetSelectActivity"
            android:label="@string/title_redeem" />

        <activity
            android:name="com.alphawallet.app.ui.ImportTokenActivity"
            android:label="@string/title_import_token" />

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <activity
            android:name="com.alphawallet.app.ui.TransferTicketDetailActivity"
            android:label="@string/label_transfer_ticket_detail" />

        <activity
            android:name="com.alphawallet.app.ui.TokenDetailActivity"
            android:hardwareAccelerated="true"
            android:label="@string/token_details" />

        <activity
            android:name="com.alphawallet.app.ui.Erc20DetailActivity"
            android:label="@string/erc20_details" />

        <activity
            android:name="com.alphawallet.app.ui.TokenFunctionActivity"
            android:hardwareAccelerated="true"
            android:label="@string/token_function" />

        <activity
            android:name="com.alphawallet.app.ui.FunctionActivity"
            android:hardwareAccelerated="true"
            android:label="@string/token_function" />

        <activity
            android:name="com.alphawallet.app.ui.WalletActionsActivity"
            android:label="Wallet Actions" />

        <activity
            android:name="com.alphawallet.app.ui.AddEditDappActivity"
            android:label="Add DApp" />

        <activity
            android:name="com.alphawallet.app.ui.NetworkChooserActivity"
            android:label="Select DApp Browser Network" />

        <activity
            android:name="com.alphawallet.app.ui.NetworkToggleActivity"
            android:label="Select Network Filters" />

        <activity
            android:name="com.alphawallet.app.ui.TokenManagementActivity"
            android:label="Manage Tokens" />

        <activity
            android:name="com.alphawallet.app.ui.SelectLocaleActivity"
            android:label="Select Language" />

        <activity
            android:name="com.alphawallet.app.ui.SelectCurrencyActivity"
            android:label="Select Currency" />

        <activity
            android:name="com.alphawallet.app.ui.ScammerWarningActivity"
            android:label="Scammer Warning"
            android:noHistory="true" />

        <activity
            android:name="com.alphawallet.app.ui.BackupKeyActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.alphawallet.app.ui.SupportSettingsActivity"
            android:label="Support Settings" />

        <activity
            android:name="com.alphawallet.app.ui.AdvancedSettingsActivity"
            android:label="Advanced Settings" />

        <activity
            android:name="com.alphawallet.app.ui.StaticViewer"
            android:label="View Text" />

        <activity
            android:name="com.alphawallet.app.ui.TokenScriptManagementActivity"
            android:label="@string/tokenscript_management" />

        <activity
            android:name="com.alphawallet.app.ui.WalletConnectActivity"
            android:label="WalletConnect"
            android:launchMode="singleTop" />

        <activity
            android:name="com.alphawallet.app.ui.BackupFlowActivity"
            android:label="WalletConnect" />

        <activity
            android:name="com.alphawallet.app.ui.SignDetailActivity"
            android:label="Sign Details" />

        <activity
            android:name="com.alphawallet.app.ui.WalletConnectSessionActivity"
            android:label="WalletConnect Sessions" />

        <activity
            android:name="com.alphawallet.app.ui.TransactionSuccessActivity"
            android:label="Transaction Success" />

        <activity
            android:name="com.alphawallet.app.ui.SetPriceAlertActivity"
            android:label="Set New Alert"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.alphawallet.app.ui.AddCustomRPCNetworkActivity"
            android:label="@string/title_activity_add_custom_rpcnetwork" />

        <activity
            android:name="com.alphawallet.app.ui.NFTActivity"
            android:label="ERC721 Master Activity" />

        <activity
            android:name="com.alphawallet.app.ui.Erc1155AssetSelectActivity"
            android:label="ERC1155 Asset Selection" />

        <activity
            android:name="com.alphawallet.app.ui.NFTAssetDetailActivity"
            android:hardwareAccelerated="true"
            android:label="ERC1155 Asset Details" />

        <activity
            android:name="com.alphawallet.app.ui.Erc1155AssetListActivity"
            android:hardwareAccelerated="true"
            android:label="ERC1155 Asset Details" />

        <activity
            android:name="com.alphawallet.app.ui.TransferNFTActivity"
            android:label="NFT Transfer" />

        <activity
            android:name="com.alphawallet.app.ui.SelectThemeActivity"
            android:label="Select Mode" />

        <activity
            android:name="com.alphawallet.app.ui.SearchActivity"
            android:label="Search Tokens" />

        <activity
            android:name="com.alphawallet.app.ui.QRScanning.QRScannerActivity"
            android:hardwareAccelerated="true"
            android:label="@string/qr_scanner" />

        <activity
            android:name="com.alphawallet.app.ui.SwapActivity"
            android:label="Native Swap"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.alphawallet.app.ui.SelectRouteActivity"
            android:label="@string/title_select_route" />

        <activity
            android:name="com.alphawallet.app.ui.SelectSwapProvidersActivity"
            android:label="@string/title_select_exchanges" />

        <activity
            android:name="com.alphawallet.app.ui.NodeStatusActivity"
            android:label="@string/action_node_status" />

        <activity
            android:name="com.alphawallet.app.ui.CoinbasePayActivity"
            android:label="@string/title_buy_with_coinbase_pay" />

        <activity
            android:name="com.alphawallet.app.ui.WalletDiagnosticActivity"
            android:label="@string/key_diagnostic" />

        <activity
            android:name="com.alphawallet.app.ui.AnalyticsSettingsActivity"
            android:label="@string/settings_title_analytics" />

        <activity
            android:name="com.alphawallet.app.ui.CrashReportSettingsActivity"
            android:label="@string/settings_title_crash_reporting" />

        <activity
            android:name="com.alphawallet.app.ui.NotificationSettingsActivity"
            android:label="@string/title_notifications" />

        <service
            android:name="com.alphawallet.app.service.PriceAlertsService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true" />


    </application>

</manifest>